# Python
__pycache__/
*.pyc
.venv/

# Data & runs
data/images/train/*
!data/images/train/.gitkeep
data/images/val/*
!data/images/val/.gitkeep
data/labels/train/*
!data/labels/train/.gitkeep
data/labels/val/*
!data/labels/val/.gitkeep
runs/
weights/
runs/
weights/

# OS
.DS_Store
Thumbs.db
