# Ignorar dados originais de cada EPI
data/original/helmet/images/*
!data/original/helmet/images/.gitkeep
data/original/helmet/annotations/*
!data/original/helmet/annotations/.gitkeep
data/original/glasses/images/*
!data/original/glasses/images/.gitkeep
data/original/glasses/annotations/*
!data/original/glasses/annotations/.gitkeep
# Python
__pycache__/
*.pyc
.venv/

# Data & runs
data/images/train/*
!data/images/train/.gitkeep
data/images/val/*
!data/images/val/.gitkeep
data/labels/train/*
!data/labels/train/.gitkeep
data/labels/val/*
!data/labels/val/.gitkeep
runs/
weights/
runs/
weights/

# OS
.DS_Store
Thumbs.db
